.wp-block-custom-spreadsheet-upload-block {
    max-width: none !important;
}

.spreadsheet-table {
    font-size: 12px;
}

.spreadsheet-table {
    width: 100%;
    min-width: 100rem;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spreadsheet-body {
    display: flex;
    flex-flow: column nowrap;
    min-width: 15em;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #dadada;
}

.spreadsheet-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 1px solid #dadada;
}

.title-row {
    background-color: #f1f1f1;
    font-weight: bold;
    width: auto;
    cursor: pointer;
}

.spreadsheet-title {
    display: flex;
    flex-flow: column;
}

.spreadsheet-cell {
    display: flex;
    flex: 1;
    padding: 5px 0;
    align-self: center;
    flex-wrap: wrap;
    justify-content: left;
}

.sort-icon {
    align-self: center;
}